<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="First Test Suite">  
 <test name="First Test scripts">  
   <classes>  
     <class name="SeleniumAutomationProject.AutomationProject.FirstPackage.FirstTestClass"/>  
     <class name="SeleniumAutomationProject.AutomationProject.FirstPackage.SecondTestClass"/>
   </classes>  
 </test> <!-- Test -->  
</suite> <!-- Suite -->  